{% extends 'layout/base.html' %}
{% block content %}
  <section class="breadcrumb breadcrumb_bg ">
    <div class="container mb-n5">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner text-center">
            <div class="breadcrumb_iner_item">
              <h2>Get in Touch !!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-section ">
    <div class="container">
      <div class="d-sm-block mb-5 pb-4">
          <div id="map" style="min-height: 480px;"></div>
            <script>
              let marker;
              function initMap() {
                const meetmap = { lat: 26.927186467186075, lng: 80.94336747934263 };
                const map = new google.maps.Map(document.getElementById("map"), {
                  zoom: 21,
                  center:meetmap,
                  streetViewControl: true,
                });
                const contentString =
                  '<div id="content">' +
                  '<div id="siteNotice">' +
                  "</div>" +
                  '<h1 id="firstHeading" class="firstHeading">Meet Studio & Labs</h1>' +
                  '<div id="bodyContent">' +
                  "<p><b>Best Photographer In Aliganj<br> Best Photographer In Jankipuram </b><br>" +
                  "Surbhi Complex, Jankipuram Extension Saat Feeta Road, Sultanpur Village, Jankipuram Vistar Lucknow, Uttar Pradesh 226021 India</p>"+
                  '<p> <a href="https://maps.google.com/maps?ll=26.927395,80.943367&z=20&t=m&hl=en-US&gl=US&mapclient=apiv3&cid=12513459244328035560">' +
                  "View on Google Maps</a></p>" +
                  "</div>" +
                  "</div>";
                  const infowindow = new google.maps.InfoWindow({
                    content: contentString,
                  });
                  marker = new google.maps.Marker({
                  position: meetmap,
                  map,
                  draggable: true,
                  animation: google.maps.Animation.BOUNCE,
                  title: "Meet Studio & Labs",
                });
                marker.addListener("click", () => {
                  infowindow.open(map, marker);
                });
              }
            </script>
            <script
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNL0TjVEGos4PhmnnidbMzMBlYUm9dvK4&callback=initMap&libraries=&v=weekly"
              async
            ></script>
      </div>        
      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact" action="Contact-Us" method="post" >
            {% csrf_token %}            
            <div class="row">
                {{form}}
            </div> 
            <div class="form-group mt-3">
              <button type="submit" class="button-contactForm btn_2">Send Message </button>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>Buttonwood, California.</h3>
              <p>Rosemead, CA 91770</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>00 (440) 9865 562</h3>
              <p>Mon to Fri 9am to 6pm</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>support@meetphotolab.in</h3>
              <p>Send us your query anytime!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
