{% extends "layout/base.html" %}

{% block content %}
{% load static %}
    <section class="slider_section">
        <div id="jssor_1" class="">
            <!-- Loading Screen -->
            <div data-u="loading" class="jssorl-009-spin sty_jssorl-009-spin" src="{% static 'main/svg/loading/static-svg/spin.svg' %}" />
            </div>
            <div data-u="slides"  class="u_sli">
                {% if sli %}
                    {% for s in sli %}                
                        <div>
                            <img data-u="image" src="{{s.img.url}}" />
                        </div>                
                    {% endfor %}   
                {% else %}
                    <div>
                        <img data-u="image" src="media/slider/default.jpg" />
                    </div> 
            {% endif %}
                            
            </div>
            <!-- Bullet Navigator -->
            <div data-u="navigator" class="jssorb053" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                <div data-u="prototype" class="i" style="width:16px;height:16px;">
                    <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                        <path class="b" d="M11400,13800H4600c-1320,0-2400-1080-2400-2400V4600c0-1320,1080-2400,2400-2400h6800 c1320,0,2400,1080,2400,2400v6800C13800,12720,12720,13800,11400,13800z"></path>
                    </svg>
                </div>
            </div>
             <!-- Arrow Navigator -->
            <div data-u="arrowleft" class="jssora093" style="width:50px;height:50px;top:0px;left:30px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                    <polyline class="a" points="7777.8,6080 5857.8,8000 7777.8,9920 "></polyline>
                    <line class="a" x1="10142.2" y1="8000" x2="5857.8" y2="8000"></line>
                </svg>
            </div>
            <div data-u="arrowright" class="jssora093" style="width:50px;height:50px;top:0px;right:30px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                    <polyline class="a" points="8222.2,6080 10142.2,8000 8222.2,9920 "></polyline>
                    <line class="a" x1="5857.8" y1="8000" x2="10142.2" y2="8000"></line>
                </svg>
            </div> 
        </div>
    </section>
    <!--::banner part start::-->

    <!--::about_us part start::-->
    <section class="about_us padding_top">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="about_us_text text-center">
                        <h5>About our studio</h5>
                        <h2>The Camera Is An Instrument That Teaches People
                            how to See without a Camera</h2>
                        <p>It’s the end of summer the sweltering heat makes human
                            sweat in the night and makes the plants and trees wilt
                            even in the moonlit nights. The eastern wind breeze brings
                            an eerie feeling, that the monsoon clouds are soon coming,
                            there is a strange silence in the ears, the sky gets darker
                            and darker, the flash of lightning illuminates the dark skies,
                            the sound of thunder fills the heart with fear.</p>
                        <a href="#" class="btn_2">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::about_us part end::-->

    <!-- gallery_part part start-->
    <section class="gallery_part section_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 offset-lg-2">
                    <div class="section_tittle">
                        <p>recent project</p>
                        <h2>Check latest work</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="portfolio-filter filters">
                        <ul>
                            <li class="active" data-filter="all">All photos</li>
                            {% for service in services %}                                
                                <li data-filter="{{service.id}}"> {{service.name}}</li>                            
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="gallery_part_item filtr-container">
                    {% for photo in photos %}
                        <a href="portfolio_details.html" class="img-gal filtr-item {{photo.width}}" data-category="{{photo.category.id}}"
                            style="background-image: url({{photo.img.url}})">
                            <div class="single_gallery_item">
                                <div class="single_gallery_item_iner">
                                    <div class="gallery_item_text">
                                        <p>Fashion photography</p>
                                        <h4>Smiling beutiful women</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- gallery_part part end-->

    <!--::our_service part start::-->
    <section class="our_service padding_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section_tittle">
                        <p>our service</p>
                        <h2>what we offer</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center filtr-container">  
                {% for service in services %}
                    {% if service.align == "l" %}                                     
                        <div class="col-lg-4 col-md-6">
                            <div class="single_offer_text text-center wedding">
                                <span class="flaticon-leaf"></span>
                                <h4>{{service.name}}</h4>
                                <p>{{service.desc}}</p>
                                <a href="#" class="btn_1">read more</a>
                            </div>
                            <div class="single_offer_img d-none d-md-block">
                                <img src="{{ service.img.url }}" alt="">
                            </div>
                        </div>   
                    {% else %}  
                        <div class="col-lg-8 col-md-6">
                            <div class="single_offer_img d-none d-md-block">
                                <img src="{{ service.img.url }}" alt="">
                            </div>
                            <div class="single_offer_text text-center nature">
                                <span class="flaticon-love-and-romance"></span>
                                <h4>{{service.name}}</h4>
                                <p>{{service.desc}}</p>
                                <a href="#" class="btn_1">read more</a>
                            </div>
                        </div>                           
                    {% endif %}                 
                {% endfor %} 
            </div>
        </div>
    </section>
    <!--::our_service part end::-->

    {% comment %} <!--::review_part part start::-->
    <section class="review_part">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-5">
                    <div class="review_img">
                        <img src="img/review_bg.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="review_slider owl-carousel">
                        <div class="review_part_text">
                            <h5>Testimnonials</h5>
                            <h2>With efficiency to
                                unlock more opportunities</h2>
                            <p>Saw shall light. Us their to place had creepeth day
                                night great wher appear to. Hath, called, sea called,
                                gathering wherein open make living Female itself
                                gathering man. Waters and, two. Bearing. Saw she'd
                                all let she'd lights abundantly blessed.</p>
                            <h3>Mitchel Jeferson, <span>CEO of softking</span> </h3>
                        </div>
                        <div class="review_part_text">
                            <h2>With efficiency to
                                unlock more opportunities</h2>
                            <p>Saw shall light. Us their to place had creepeth day
                                night great wher appear to. Hath, called, sea called,
                                gathering wherein open make living Female itself
                                gathering man. Waters and, two. Bearing. Saw she'd
                                all let she'd lights abundantly blessed.</p>
                            <h3>Mitchel Jeferson, <span>CEO of softking</span> </h3>
                        </div>
                        <div class="review_part_text">
                            <h2>With efficiency to
                                unlock more opportunities</h2>
                            <p>Saw shall light. Us their to place had creepeth day
                                night great wher appear to. Hath, called, sea called,
                                gathering wherein open make living Female itself
                                gathering man. Waters and, two. Bearing. Saw she'd
                                all let she'd lights abundantly blessed.</p>
                            <h3>Mitchel Jeferson, <span>CEO of softking</span> </h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--::review_part part end::-->

    <!--::pricing part start::-->
    <section class="pricing_part section_padding home_page_pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section_tittle">
                        <p>Price table</p>
                        <h2>pricing plan</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="single_pricing_part">
                        <div class="pricing_tittle">
                            <img src="img/icon/feature_icon_1.svg" alt="">
                            <p>Standard</p>
                        </div>
                        <div class="pricing_content">
                            <h3>$50.00 <span>/ mo</span></h3>
                            <ul>
                                <li>2GB Bandwidth</li>
                                <li>Two Account</li>
                                <li>15GB Storage</li>
                                <li>Sale After Service</li>
                                <li>3 Host Domain</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a href="#" class="btn_2">book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_pricing_part">
                        <div class="pricing_tittle">
                            <img src="img/icon/feature_icon_2.svg" alt="">
                            <p>Standard</p>
                        </div>
                        <div class="pricing_content">
                            <h3>$50.00 <span>/ mo</span></h3>
                            <ul>
                                <li>2GB Bandwidth</li>
                                <li>Two Account</li>
                                <li>15GB Storage</li>
                                <li>Sale After Service</li>
                                <li>3 Host Domain</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a href="#" class="btn_2">book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_pricing_part">
                        <div class="pricing_tittle">
                            <img src="img/icon/feature_icon_3.svg" alt="">
                            <p>Standard</p>
                        </div>
                        <div class="pricing_content">
                            <h3>$50.00 <span>/ mo</span></h3>
                            <ul>
                                <li>2GB Bandwidth</li>
                                <li>Two Account</li>
                                <li>15GB Storage</li>
                                <li>Sale After Service</li>
                                <li>3 Host Domain</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a href="#" class="btn_2">book Now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--::pricing part end::-->

    <!--::blog part start::-->
    <section class="catagory_post padding_bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <div class="section_tittle">
                        <p>our blog</p>
                        <h2>Latest story</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="single_catagory_post post_2">
                        <div class="category_post_img">
                            <img src="img/blog/blog_1.png" alt="">
                        </div>
                        <div class="post_text_1 pr_30">
                            <h5><span> By Michal</span> / March 30 , 2019</h5>
                            <a href="blog.html">
                                <h3>Mad whales gathering open can't</h3>
                            </a>
                            <p>Is life form dominion under very seasons together
                                them divide so, she'd bearing sixth </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_catagory_post post_2">
                        <div class="category_post_img">
                            <img src="img/blog/blog_2.png" alt="">
                        </div>
                        <div class="post_text_1 pr_30">
                            <h5><span> By Michal</span> / March 30 , 2019</h5>
                            <a href="blog.html">
                                <h3>Creepeth grass brought over man</h3>
                            </a>
                            <p>Is life form dominion under very seasons together
                                them divide so, she'd bearing sixth </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_catagory_post post_2">
                        <div class="category_post_img">
                            <img src="img/blog/blog_3.png" alt="">
                        </div>
                        <div class="post_text_1 pr_30">
                            <h5><span> By Michal</span> / March 30 , 2019</h5>
                            <a href="blog.html">
                                <h3>Mad whales gathering open Evening</h3>
                            </a>
                            <p>Is life form dominion under very seasons together
                                them divide so, she'd bearing sixth </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    <!--::blog part end::-->
    
{% endblock content %}

  
