{% extends "layout/base.html" %}

{% block content %}
<!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>best <span>services</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--::our_service part start::-->
    <section class="our_service padding_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section_tittle">
                        <p>our service</p>
                        <h2>what we offer</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center filtr-container">  
                {% for service in services %}
                    {% if service.align == "l" %}                                     
                        <div class="col-lg-4 col-md-6">
                            <div class="single_offer_text text-center wedding">
                                <span class="flaticon-leaf"></span>
                                <h4>{{service.name}}</h4>
                                <p>{{service.desc}}</p>
                                <a href="#" class="btn_1">read more</a>
                            </div>
                            <div class="single_offer_img d-none d-md-block">
                                <img src="{{ service.img.url }}" alt="">
                            </div>
                        </div>   
                    {% else %}  
                        <div class="col-lg-8 col-md-6">
                            <div class="single_offer_img d-none d-md-block">
                                <img src="{{ service.img.url }}" alt="">
                            </div>
                            <div class="single_offer_text text-center nature">
                                <span class="flaticon-love-and-romance"></span>
                                <h4>{{service.name}}</h4>
                                <p>{{service.desc}}</p>
                                <a href="#" class="btn_1">read more</a>
                            </div>
                        </div>                           
                    {% endif %}                 
                {% endfor %} 
            </div>
        </div>
    </section>
    <!--::our_service part end::-->

    <!--::pricing part start::-->
    {% comment %} <section class="pricing_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section_tittle">
                        <p>Price table</p>
                        <h2>pricing plan</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="single_pricing_part">
                        <div class="pricing_tittle">
                            <img src="img/icon/feature_icon_1.svg" alt="">
                            <p>Standard</p>
                        </div>
                        <div class="pricing_content">
                            <h3>$50.00 <span>/ mo</span></h3>
                            <ul>
                                <li>2GB Bandwidth</li>
                                <li>Two Account</li>
                                <li>15GB Storage</li>
                                <li>Sale After Service</li>
                                <li>3 Host Domain</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a href="#" class="btn_2">book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_pricing_part">
                        <div class="pricing_tittle">
                            <img src="img/icon/feature_icon_2.svg" alt="">
                            <p>Standard</p>
                        </div>
                        <div class="pricing_content">
                            <h3>$50.00 <span>/ mo</span></h3>
                            <ul>
                                <li>2GB Bandwidth</li>
                                <li>Two Account</li>
                                <li>15GB Storage</li>
                                <li>Sale After Service</li>
                                <li>3 Host Domain</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a href="#" class="btn_2">book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_pricing_part">
                        <div class="pricing_tittle">
                            <img src="img/icon/feature_icon_3.svg" alt="">
                            <p>Standard</p>
                        </div>
                        <div class="pricing_content">
                            <h3>$50.00 <span>/ mo</span></h3>
                            <ul>
                                <li>2GB Bandwidth</li>
                                <li>Two Account</li>
                                <li>15GB Storage</li>
                                <li>Sale After Service</li>
                                <li>3 Host Domain</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a href="#" class="btn_2">book Now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> {% endcomment %}
    <!--::pricing part end::--> 
{% endblock content %}


    
