{% load static %}
<script src="{% static 'main/js/jquery-1.12.1.min.js' %}"></script>
<script src="{% static 'main/js/popper.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'main/js/swiper.min.js' %}"></script>
<script src="{% static 'main/js/jquery.filterizr.min.js' %}"></script>
<script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'main/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'main/js/slick.min.js' %}"></script>
<script src="{% static 'main/js/swiper.min.js' %}"></script>
<script src="{% static 'main/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'main/js/waypoints.min.j' %}s"></script>
<script src="{% static 'main/js/contact.js' %}"></script>
<script src="{% static 'main/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'main/js/jquery.form.js' %}"></script>
<script src="{% static 'main/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'main/js/mail-script.js' %}"></script>
<script src="{% static 'main/js/custom.js' %}"></script>
<script src="{% static 'main/js/jssor.slider.min.js' %}"></script>
<script src="{% static 'main/js/slider.js' %}"></script>