{% load static %}
<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-footer-widget">
                    <h4>Our Service</h4>
                    <ul>
                        <li><a href="#">Urgent Photo</a></li>
                        <li><a href="#">Photo Frame's</a></li>
                        <li><a href="#">Wedding Photography & Videography</a></li>
                        <li><a href="#">Candid Photography</a></li>
                        <li><a href="#">Cinematic Videography</a></li>
                        <li><a href="#">Pre-Wedding Shoot</a></li>
                        <li><a href="#">Drone, Crane, LED Wall Available</a></li>
                        <li><a href="#">Mug, T-Shirt, Pillow, Key-Ring, etc. Printing</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-footer-widget footer_icon">
                    <h4>Contact Info</h4>
                    <p>Shop No - 4 , 60 Feet Road Jankipuram Vistar Yojna Lucknow (U.P.) 226021</p>
                    <ul>
                        <li><a href="#"><i class="ti-mobile"></i>+91- 8840235103</a></li>
                        <li><a href="#"><i class="ti-email"></i>support@meetphotolab.in</a></li>
                        <li><a href="www.meetphotolab.in"><i class="ti-world"></i> www.meetphotolab.in</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-footer-widget footer_3">
                    <h4>Social Platforms</h4>
                    <div class="footer_img">
                        <div class="single_footer_img">
                            <img src="{% static 'main/img/footer_img/footer_img_1.png' %}" alt="">
                            <i class="ti-instagram"></i>
                        </div>
                        <div class="single_footer_img">
                            <img src="{% static 'main/img/footer_img/footer_img_2.png' %}" alt="">
                            <i class="ti-instagram"></i>
                        </div>
                        <div class="single_footer_img">
                            <img src="{% static 'main/img/footer_img/footer_img_3.png' %}" alt="">
                            <i class="ti-instagram"></i>
                        </div>
                        <div class="single_footer_img">
                            <img src="{% static 'main/img/footer_img/footer_img_4.png' %}" alt="">
                            <i class="ti-instagram"></i>
                        </div>
                        <div class="single_footer_img">
                            <img src="" alt="">
                            <i class="ti-instagram"></i>
                        </div>
                        <div class="single_footer_img">
                            <img src="{% static 'main/img/footer_img/footer_img_6.png' %}" alt="">
                            <i class="ti-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-footer-widget footer_2">
                    <h4>Newsletter</h4>
                    <p>Stay updated with our latest trends see heaven so said place fruit.
                    </p>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                required="" type="email">
                            <button class="btn btn-default text-uppercase"><i class="ti-angle-right"></i></button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                    type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                    <div class="social_icon">
                        <a href="#"> <i class="ti-facebook"></i> </a>
                        <a href="#"> <i class="ti-twitter-alt"></i> </a>
                        <a href="#"> <i class="ti-instagram"></i> </a>
                        <a href="#"> <i class="ti-skype"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="copyright_part_text text-center">
                    <p class="footer-text m-0">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="ti-heart" aria-hidden="true"></i> by <a href="" target="_blank">Ali Media Solutions</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>